@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

:root {
	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-full-white: #ffffff;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
}

.sidepannel {
	background: var(--color-not-quite-black);
	padding: 1rem;
	display: flex;
	min-height: 100vh;
	gap: 5px;
	position: absolute;
	box-sizing: border-box;

	.underline {
		content: "";
		width: 60%;
		height: 2px;
		background-color: var(--color-3);
	}
}
