.dmcard {
	background-color: rgba(35,38,43,1);
 	border-width: 0px;
	border-color: #000000;
  	border-radius: 5px;
  	overflow: visible;
  	width: 194px;
 	height: 250px;
  	border-style: solid;

	.dmcard-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.userPhoto {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		background-size: cover;
	}
	.name {
		font-family: Roboto;
		font-style: normal;
  		font-weight: 700;
  		color: rgba(255,255,255,1);
  		font-size: 29px;
  		text-align: center;
	}
	.role-wrapper {
		margin: 2rem;
		width: 100%;
		.role {
			font-family: Roboto;
  			font-style: normal;
 			color: rgba(255,255,255,1);
  			font-size: 18px;
  			text-align: left;
		}
	}
	textarea {
		font-family: Roboto;
 		position: absolute;
 		font-style: normal;
		font-weight: 400;
		color: rgba(0,0,0,1);
 		width: 176px;
		height: 32px;
  		background-color: rgba(230, 230, 230,1);
		border-width: 0px;
  		border-color: #000000;
  		border-radius: 5px;
 		border-style: solid;
 		background: transparent;
	}
}
