.dmcard {
	background-color: rgba(35,38,43,1);
	border-color: #000000;
  	border-radius: 5px;
  	overflow: hidden;
  	width: 194px;
 	height: 250px;
  	border-style: solid;

	.dmcard-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.userPhoto {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		background-size: cover;
	}
	.name {
		font-family: Roboto;
		font-style: normal;
  		font-weight: 700;
  		color: rgba(255,255,255,1);
  		font-size: 29px;
  		text-align: center;
	}
	.role-wrapper {
		margin: 2rem;
		width: 100%;
		.role {
			font-family: Roboto;
  			font-style: normal;
  			font-size: 18px;
  			text-align: left;
		}
	}
	.textarea {
		font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: rgba(0,0,0,1);
  width: 176px;
  height: 32px;
  background-color: rgba(35,38,43,1);
  border-width: 2px;
  border-color: rgba(9,10,11,1);
  border-radius: 5px;
  letter-spacing: 1px;
  border-style: solid;
  background: transparent;
	}
}
