.dmcard {
	display: flex;
	background-color: rgba(35,38,43,1);
	border-width: 1px;
	border-color: #000000;
	border-radius: 15px;
	flex-direction: column;
	border-style: solid;
}

	.dmcard-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.userPhoto {
		width: 8rem;
		height: 8rem;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
	}
	.name {
		font-family: Roboto;
		font-style: normal;
		color: rgba(255,255,255,1);
		text-align: center;
	}
	.role-wrapper {
		margin: 2rem;
		width: 100%;
		.role {
			margin-left: 2rem;
			display: inline-block;
			border-radius: 2rem;
			padding: 0.3rem 1rem;
			font-size: 1rem;
		}
	}
	textarea {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		color: rgba(0,0,0,1);
		background-color: rgba(230, 230, 230,1);
		border-width: 1px;
		border-color: #000000;
		border-radius: 12px;
		border-style: solid;
		background: transparent;
	}
}
