.alert-enter {
  opacity: 0;
  transform: translateY(-5rem) scale(1.1);
}
.alert-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 400ms 100ms, transform 400ms 10ms;
}
.alert-exit {
  opacity: 1;
  transform: translateY(0rem) scale(1);
  // transition: opacity 400ms, transform 400ms;
}
.alert-exit-active {
  opacity: 0;
  transform: translateY(-5rem) scale(1.1);
  transition: opacity 400ms, transform 400ms;
}

.auth {
  display: flex;
  background-color: rgba(52,52,52,1);
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  .wrapper {
    width: 45rem;
    min-height: 50vh;
    height: auto;
  }
  .register,
  .login {
    position: absolute;
    background-color: #36393f;
    width: 45rem;
    min-height: 50vh;
    height: auto;
    border-radius: 5px;
    padding: 4rem 0;
    form {
      display: block;
      margin: auto;
      width: 35rem;
    }
    h2 {
      font-size: 3rem;
      color: #fff;
      text-align: center;
      margin-bottom: 2rem;
    }
    h3 {
      text-align: center;
      color: #fff;
      opacity: 0.4;
      margin-bottom: 3rem;
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }
    label {
      display: block;
      font-size: 1.2rem;
      margin-bottom: 0.75rem;
      opacity: 0.7;
    }
    input {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      color: #121212;
      height: 45px;
      font-size: 20px;
      width: 339px;
      border: none;
      background: transparent;
    }
    a {
      color: #7289da;
      text-align: center;
      margin: 2rem auto 0 0;
      display: block;
      margin-top: 2rem;
      font-size: 1.4rem;
      text-decoration: none;
    }
    button {
      background-color: rgba(114,137,217,1);
      border-radius: 14px;
      width: 342px;
      height: 74px;
      cursor: pointer;
    }
    .error {
      text-align: center;
      font-size: 1.5rem;
      color: #fc5185;
      margin-top: 2rem;
    }
  }
  .login {
    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      color: rgba(253,252,252,1);
      font-size: 40px;
      align-self: flex-end;
    }
  }
}
